<h1>iGarden Simplify</h1>

<h2>Objectifs</h2>

<p>
  Simplifier la manière de signaler ton passage au potager ! Récolte ou Arrosage
  effectué ? Tu n'as qu'à scanner le QRCode et le tour est joué !
</p>
